@font-face {
    font-family: "Gordita-Light";
    src: url("../fonts/Gordita-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gordita-Medium";
    src: url("../fonts/Gordita-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gordita-Regular";
    src: url("../fonts/Gordita-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Gordita-Black";
    src: url("../fonts/Gordita-Black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Gordita-Bold";
    src: url("../fonts/Gordita-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
